<!DOCTYPE html>
<html lang="en">
<head>
    <title>Posts</title>
</head>
<div th:replace="admin/header :: header"></div>
<body>
    <div class="container">
        <div class="row">
            <h1>List of Tickets</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <form class="form-inline" th:action="@{/admin/posts/search}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"> Search</button>
                        </span>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <th style="width:10%">#</th>
                <th style="width:20%" >Ticket Title</th>
                <th style="width:30%" >Ticket Short Description</th>
                <th style="width:20%">Ticket Created On</th>
                <th style="width:20%" >Actions</th>
            </thead>  
            <tbody>
                <tr th:each="post, postStat: ${posts}">
                    <td th:text="${postStat.count}">1</td>
                    <td th:text="${post.title}">ticket title</td>
                    <td th:text="${post.shortDescription}">ticket short description</td>
                    <td th:text="${#temporals.format(post.createdOn,'dd-MM-yyyy')}">01 JAN 2022</td>
                    <td>
                        <a th:href="@{/admin/posts/{postId}/edit(postId=${post.id})}" class="btn btn-primary"> Edit</a>
                        <a id="delete" th:href="@{/admin/posts/{postId}/delete(postId=${post.id})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/admin/posts/{id}/view(id=${post.id})}" class="btn btn-info">View</a>
                    </td>
            </tbody>
        </table>
    </div>
    <div th:replace="admin/footer :: footer"></div>
</body>
</html>